@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('./fonts/stylesheet.css');
body {
  background-color: #fef9f3;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
* {
  border: 1px solid red;
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
